body {
  // fill screen
  margin: 0;
  min-height: 100vh;

  // center everything
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }

@for $i from 1 through 5 {
  .gap#{$i} { gap: $i * 0.25rem; }
}

.centerChildren {
  display: flex;
  justify-content: center;
  align-items: center;
}

.packLogo {
  font-family: 'Franklin Gothic Bold', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  background: transparent;
  z-index: 0;
  color:white;
}
// ↓ Stroke 1
.packLogo:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.11em rgb(42, 0, 0); 
  left: 0;
  z-index: -1;
}
// ↓ Stroke 2
.packLogo:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.20em rgb(127, 12, 32);
  left: 0;
  z-index: -2;
}

.spaceBetween { justify-content: space-between; }
.spaceAround { justify-content: space-around; }
.spaceEvenly { justify-content: space-evenly; }

.spacer { flex:1; }

.hidden { visibility: hidden; }
