body::before {
  content: "";
  --size: min(min(75vw, 75vh), 50rem);

  width: var(--size);
  height: var(--size);

  position: fixed;
  z-index: -1;

  background-image: linear-gradient(#ff00003d, #00ff003d);
  animation: blobRadius 10s ease infinite,
    rotate 30s ease-in-out alternate infinite,
    hueRotate 50s ease infinite;
}

@keyframes rotate {
  to { transform: rotate(360deg); }
}

@keyframes hueRotate {
  from { filter: hue-rotate(0deg) blur(calc(var(--size) / 10)) }
  to   { filter: hue-rotate(360deg) blur(calc(var(--size) / 10)) }
}

@keyframes blobRadius {
  0%   { border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%; }
  20%  { border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%; }
  40%  { border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%; }
  60%  { border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%; }
  80%  { border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%; }
  100% { border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%; }
}
