img, image, canvas {
  image-rendering: pixelated;
}

/* all the generic css that doesn't apply to anything specific in the code */
:root { color-scheme: dark; }
body {
  margin: auto;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  background-color: #202020;
}

.big { font-size: 1.5rem; }
.small { font-size: .75rem; }

/* logical sizing */
* { box-sizing: border-box; }
/* decent font */
* {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---- default HTML component styling ---- */
h1, h2, h3, h4, h5, p, button, span, label, ::marker, svg, ul, a, input, textarea, sub, th, td {
  margin: 0;
}
/* style inputs */
button, select {
  background-color: var(--elv1);
  border: unset;
}
:is(button, select):hover {
  background-color: var(--elv2);
}
:is(button, select):active {
  background-color: var(--elv3);
}
option {
  background: var(--elv4S);
  color: white;
}
/* remove the default styling of fieldset */
fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border: none;
  min-inline-size: min-content;
}

/* ---- variables ---- */
:root {
  --elv0: rgba(255,255,255, 0.05);
  --elv1: rgba(255,255,255, 0.10);
  --elv2: rgba(255,255,255, 0.15);
  --elv3: rgba(255,255,255, 0.20);
  --elv4: rgba(255,255,255, 0.25);

  --elv0S: rgb(40, 40, 40);
  --elv1S: rgb(51, 51, 51);
  --elv2S: rgb(61, 61, 61);
  --elv3S: rgb(71, 71, 71);
  --elv4S: rgb(80, 80, 80);
}

.elv0 { background-color: var(--elv0); }
.elv1 { background-color: var(--elv1); }
.elv2 { background-color: var(--elv2); }
.elv3 { background-color: var(--elv3); }
.elv4 { background-color: var(--elv4); }

.gap0 { gap: 0.25rem; }
.gap1 { gap: 0.5rem; }
.gap2 { gap: 1rem; }
.gap3 { gap: 1.5rem; }

/* ---- utility ---- */
.panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background-color: var(--elv1);

  padding: .5rem;
}

/* Assign to parents for changing direction */
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }

/* Assign to children of row/col to center */
.row.centerChildren > *, .row > .centered { align-self: center; margin: auto 0px; }
.col.centerChildren > *, .col > .centered { align-self: center; margin: 0px auto; }

/* Assign to empty child div to aesthetically fill space */
.spacer { flex:1; }

.error { color: red; }

kbd {
  background-color: #373737;
  border-radius: 0.25rem;
  border: 1px solid #191919;
  box-shadow: 0 2px 0 1px #191919;

  font-size: 0.75em;

  min-width: 0.75rem;
  display: block;
  text-align: center;

  padding: 2px 5px;

  position: relative;
  top: -1px;
}