/* DropArea style file input */
#packInput > #fileInput > input {
  display: none;
}
#packInput > #fileInput > .inputFeedback {
  background-image: url(https://cdn.discordapp.com/attachments/713104017235902568/1101526019590070342/empty.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  aspect-ratio: 1;
}
#packInput > #fileInput.hasFile > .inputFeedback {
  background-image: url(https://cdn.discordapp.com/attachments/713104017235902568/1101526019162255440/boxed.png);
}
#packInput > #fileInput:is(:hover, .dragOver) > .inputFeedback {
  background-image: url(https://cdn.discordapp.com/attachments/713104017235902568/1101527819495940096/open.png);
}
#packInput > .fileName {
  font-size: .8rem;
}

/* settings */
#settings {
  width: 15rem;
}
#settings > .options > * {
  padding: .25rem;
  width: 50%;
}

/* manual */
#processedContainer {
  position: relative;
}
#pathTextContainer {
  position: absolute;
  bottom: -1rem;
  max-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* to make the ... be on the left, so you can see the filename */
  direction: rtl;
}
#pathText {
  direction: ltr;
  max-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#processing canvas {
  object-fit: cover;

  min-width: 10rem;
  min-height: 10rem;

  max-width: 30rem;
  max-height: 30rem;

  animation-name: interpolatePosition;
  animation-duration: 50s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes interpolatePosition {
  0% { object-position: right top; }
  50% { object-position: left bottom; }
  100% { object-position: right top; }
}


@keyframes cycleAll {
  0%   { content: "↑"; }
  33%  { content: "→"; }
  66%  { content: "↓"; }
  100% { content: "←"; }
}
.cycleAll {
  width: 1.5rem;
}
.cycleAll::after {
  animation: cycleAll 4s linear infinite;
  content: '↑';
}

@keyframes cycleLR {
  from { content: "←"; }
  to   { content: "→"; }
}
.cycleLR {
  width: 1.5rem;
}
.cycleLR::after {
  animation: cycleLR 2s linear infinite;
  content: '←';
}

@keyframes cycleUD {
  from { content: "↑"; }
  to   { content: "↓"; }
}
.cycleUD::after {
  animation: cycleUD 2s linear infinite;
  content: '↑';
}